body {
  font-family: Perpetua;
  display : flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(173, 127, 173), rgb(147, 147, 231));
}

table {
  background-color: white;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  text-align : center;
}