<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <title>Home with PGsql</title>
</head>
<body>
    <div class="Content">
        <h1 style="font-style: italic; color: antiquewhite;">The Tables</h1>
        <div> Click on the required button</div>
        <a class="pure-button pure-button-active" href='/Teacher'>Teachers</a>
        <a class="pure-button pure-button-primary" href='/Student'>Student</a>
        <a class="pure-button pure-button-active" href='/Courses'>Courses</a>
        <a class="pure-button pure-button-primary" href='/ResultAll'>Result All</a>
        <a class="pure-button pure-button-active" href='/'>Back</a>
        
        <table class="pure-table-striped">
            <thead>
            <tr>
                {% for col in cols %}
                <th>{{col}}</th>
                {% endfor %}
                
            </tr>
        </thead>
                {% for result in data %}
                <tr>
                    {% for val in result %}
                    <td>{{val}}</td>
                    {% endfor %}

                </tr>
                {% endfor %}
        </table>
    </div>
</body>
</html>