<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Elements into Database</title>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
    <style>
        .Content{
            text-align: center
        }
        .pure-button{
            margin-top: 5%;
        }
    </style>
</head>
<body>

    <form method="POST">
        {% csrf_token %}
        <div class="Content">
            <table>
                <tr>
                    <td> Enter Your Details Below</td>
                </tr>
                <tr>
                    <td><input type="number" placeholder="Student ID" name="st_id"></td>
                    <td><input type="text" placeholder="Student name" name="st_name"></td>
                </tr>
            </table>
            <input class="pure-button pure-button-active" type="submit" name="insert_button" value="Insert">
            {% if messages %}
                {% for mess in messages %} 
                <b style="color:  blueviolet;" >{{mess}}</b>
                {% endfor %} 
            {% endif %}
        </form>
    
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td> Enter The ID to be deleted</td>
                </tr>
                <tr>
                    <td><input type="number" placeholder="Student ID" name="st_id"></td>
                </tr>
            </table>
            <input class="pure-button pure-button-active" type="submit" name="delete_button" value="Delete">
            {% if messages %}
                {% for mess in messages %} 
                <b style="color:brown;" >{{mess}}</b>
                {% endfor %} 
            {% endif %}
        </form>

        </div>
       
        <div class=" Content">
            <a href='/' >Go To Home</a>
        </div>
    
    
</body>
</html>